

.icon
  &--menu:before
    content "\e902"

  &--marker:before
    content "\e900"

  &--skateboarder:before
    content "\e901"

  &--plus:before
    content "\f067"

  &--trophy:before
    content "\f091"

  &--map:before
    content "\f279"

  &--shopping:before
    content "\f290"

  &--configuration:before
    content "\e904"

  &--logout:before
    content "\e903"

  &--check:before
    content "\f00c"

  &--phone:before
    content "\f095"

  &--instagram:before
    content "\f16d"

  &--facebook:before
    content "\f09a"

  &--github:before
    content "\f09b"

  &--loading:before
    content "\e97b"
